@page "/Operations/ElAsiento"

@inject IJSRuntime JSRuntime
@inject IBannerService BannerService
@inject IOperationsService OperationsService
@inject NavigationManager NavigationManager
@inherits FragmentNavigationBase

<link href="css/operations.css?v=@(DateTime.Now.ToString("MMddyyyyHHmmss"))" rel="stylesheet" />

@if (isShowing == true)
{
        <Andeanpm.Client.Components.Public.ModalWindow ParentMethodToCallOnClickBtnClose="() => isShowing = false" operations="op" position="position" />
}

<div class="container-fluid p-0">
    <Andeanpm.Client.Components.Public.Navbar OnMenuEvent="menuEvent"/>
    <div class="@ContentClass()">
        <div>
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0">
                    <img src="@banner.Url" class="banner banner-50">
                </div>
            </div>
            <div class="container p-0">
                <div class="col-12">
                    <div class="col-12 p-4 pb-4">
                        <div class="col-lg-12 paragraph-subtitle align-end p-0">
                            <a href="/OrePurchasing#top" class="a-remover yellow-hover">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mine
                                Reclamation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>|
                            <a href="/Operations/TatasiPortugalete" class="a-remover yellow-hover">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next >></a>
                        </div>
                        <div class="row m-0 mt-5 mb-5 pt-5-4k">
                            <div class="col-lg-12 p-0">
                                <div class="paragraph-subtitle">Project</div>
                                <h1 class="paragraph-title pb-2 andean-gold-bar d-inline-block">EL ASIENTO</h1>
                            </div>
                        </div>
                        <div class="row my-5 py-4">
                            <div class="col-lg-8">
                                <p class="paragraph-content text-justify mb-3">The El Asiento Project is located 220km from Potosi.</p>
                                <p class="paragraph-content text-justify mb-3">Andean is rehabilitating the area by removing waste dumps and stockpiles adjacent to the mining workings</p>
                                <p class="paragraph-content text-justify mb-3">The main mineralization is located on the southeast flank of Cerro El Asiento, where old mining works exist, such as the Romero, Palmero, and Esperanza sinkholes and the currently collapsed sinkhole clearings. Within this
                                    zone, there are countless veins and veinlets that were mined for tin and silver ores.
                                </p>
                                        <p class="paragraph-content text-justify mb-3">Andean’s Bolivian subsidiary , Manquiri S.A., has entered into a production contract with COMIBOL who is the owner of all mining rights related to El Asiento Project.</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="row m-0">
                                    @foreach(var item in op.GetRange(0, 4))
                                    {
                                    <div class="col-lg-6 col-6 p-2 eye-container">
                                        <div class="eye"></div>
                                        <img class="image-regular operations-gallery-preview w-100" src="@item.ImageLink" @onclick="() => ShowModal(item.Id)">
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row my-5 py-4 pt-5-4k">
                            @foreach(var item in op.GetRange(4, 3))
                            {
                            <div class="col-md-4 p-2 eye-container">
                                <div class="eye"></div>
                                    <img class="image-regular" src="@item.ImageLink" @onclick="() => ShowModal(item.Id)">
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Andeanpm.Client.Components.Public.Footer isHome="@isHome"/>
</div>

@code {
    [Parameter]
    public bool isMenu { get; set; }

    [Parameter]
    public EventCallback<bool> OnMenuEvent { get; set; }

    private List<ImageModal> imageModal { get; set; } = new();

    private List<Operation> op { get; set; } = new();

    private Banner banner { get; set; } = new();

    private int position = 0;

    private bool isShowing = false;

    private bool isHome = false;

    private string fragment = string.Empty;

    private string currentPage = string.Empty;


    protected override async Task OnInitializedAsync()
    {

        op = await OperationsService.Get("ElAsiento");
        banner = await BannerService.GetBanner("El Asiento");

        if (!string.IsNullOrEmpty(NavigationManager.Uri))
            fragment = UtilityFunctions.GetFragment(NavigationManager.Uri);
    }

    private void ShowModal(int pos)
    {
        this.position = pos;
        isShowing = true;

    }

    protected void menuEvent(bool eventMenu)
    {
        OnMenuEvent.InvokeAsync(eventMenu);
    }

    private string ContentClass()
    {
        if (isMenu) return "pause";
        return "";
    }
}