@page "/Admin/News/Form"
@page "/Admin/News/Form/{Id:int}"
@using System.Net

@inject INewsService NewsService
@inject IUploadImageService UploadImageService
@inject NavigationManager NavigationManager
@inherits FragmentNavigationBase

<link href="css/admin.css?v=@(DateTime.Now.ToString("MMddyyyyHHmmss"))" rel="stylesheet" />

<AuthorizeView Roles="Admin">
	<Authorized Context="Auth">
		<div id="wrapper" class="@(isClosed ? "toggled" : "")">
			<div class="overlay"></div>

			<Andeanpm.Client.Components.Admin.Sidebar />

			<div id="page-content-wrapper">
				<button type="button" class="hamburger animated fadeInLeft @(isClosed ? "is-open" : "is-closed")" @onclick="OpenMenu" data-toggle="offcanvas">
					<span class="hamb-top"></span>
					<span class="hamb-middle"></span>
					<span class="hamb-bottom"></span>
				</button>
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-sm-12 col-lg-4">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
									<li class="breadcrumb-item active" aria-current="page">News</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-lg-12">
							<div class="card">
								<h5 class="card-header">@(Id == 0 ? "Create" : "Update") News</h5>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12">
											<EditForm Model="news" OnValidSubmit="Save">
												<DataAnnotationsValidator />
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
													<div class="col-sm-10">
														<InputText @bind-Value="news.Title" class="form-control form-control-sm" placeholder="Title" />
														<ValidationMessage class="error" For="@(() => news.Title)" />
													</div>
												</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">Subtitle</label>
													<div class="col-sm-10">
														<InputText @bind-Value="news.Subtitle" class="form-control form-control-sm" placeholder="Subtitle" />
														<ValidationMessage class="error" For="@(() => news.Subtitle)" />
													</div>
												</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">Content</label>
													<div class="col-sm-10">
														<InputTextArea @bind-Value="news.Content" class="form-control form-control-sm" placeholder="Contents" />
														<ValidationMessage class="error" For="@(() => news.Content)" />
													</div>
												</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">PDF News</label>
													<div class="col-sm-10">
														<InputFile OnChange="UploadedImage" class="form-control mt-4" id="thumbnailImage" />
														<span class="error">@reasonImageUploadFailed</span>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-md-12 col-lg-6">
														<button type="button" class="btn btn-outline-info" @onclick="Back"><i class="fa-solid fa-delete-left"></i> Cancel</button>

													</div>
													<div class="col-md-12 col-lg-6 d-flex flex-row-reverse">
														<button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-floppy-disk"></i> Save</button>
													</div>
												</div>
											</EditForm>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<Andeanpm.Client.Components.Admin.SignIn />
	</NotAuthorized>
</AuthorizeView>

@code {

	[Parameter] public int Id { get; set; } = 0;

	private bool isClosed { get; set; } = true;

	private NewDTO news { get; set; } = new();

	private bool attemptingToUploadImage { get; set; } = false;

	private bool attemptToUploadFailed { get; set; } = false;

	private string reasonImageUploadFailed { get; set; } = null;

	private string hasFile { get; set; } = string.Empty;

	private string vaildateFile { get; set; } = string.Empty;

	private bool isUploaded { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		if (Id != 0) 
		{
			var result = await NewsService.GetNewsId(Id);
			news.Id = Id;
			news.Title = result.Title;
			news.Subtitle = result.Subtitle;
			news.Content = result.Content;
			news.PDFURL = result.PDFURL;
			news.DateNews = result.DateNews;
			news.Year = result.Year;
			news.PKNews = result.PKNews;
		}
	}

	public void Back()
	{
		NavigationManager.NavigateTo($"/Admin/News");
	}

	public async Task Save()
	{
		if (!attemptToUploadFailed)
		{
			var response = Id == 0 ? await NewsService.Create(news) : await NewsService.Update(news);
			if (response)
			{
				Back();
			}
		}
	}

	private void OpenMenu()
	{
		isClosed = !isClosed;
	}

	public async Task UploadedImage(InputFileChangeEventArgs e)
	{
		if (e.File.ContentType != "application/pdf")
		{
			hasFile = "Please only upload PDF, JPG, or PNG images.";
			isUploaded = false;
		}
		else if (e.File.Size >= 31457280) // 31457280 bytes = 30 megabytes
		{
			hasFile = "Please only upload images that are smaller than 30 MegaBytes (MB).";
			isUploaded = false;
		}
		else
		{

			isUploaded = true;

			IBrowserFile uploadedImageFile = e.File;

			hasFile = uploadedImageFile.Name;

			byte[] imageAsByteArray = new byte[uploadedImageFile.Size];
			// Fills the contents of the image byte array.
			await uploadedImageFile.OpenReadStream(31457280).ReadAsync(imageAsByteArray);
			string byteString = Convert.ToBase64String(imageAsByteArray);

			Resume pdf = new Resume()
				{
					NewImageFileExtension = uploadedImageFile.Name.Substring(uploadedImageFile.Name.Length - 4),
					NewImageBase64Content = byteString,
				};

			news.PDF = pdf;

		}

	}

}